# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml

# OS files
.DS_Store

# External native builds
.externalNativeBuild/
.cxx/

# Android profiling
captures/

# Kotlin
.kotlin/

# Logs
*.log